/* @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

html{
    font-family: 'Source Sans Pro', sans-serif !important;
}

body{
    background-color: transparent;
    background: url('/vistas/img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#menu {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(38,121,9,1) 80%);
    font-size: 20px !important;
}

#logo_club{
    max-width: 100px;
}